:root {
  --bg-color: #f1f5f9;
  --text-color: #1e293b;
  --text-color-2: #f1f5f9;
  --btn-color: #334155;
  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--text-color);
}

.btn {
  background-color: var(--btn-color);
  border: none;
  color: var(--text-color-2);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 0.25rem;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.text-area {
  height: 250px;
  max-width: 800px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.formatter-options-container {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.n-container {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  gap: 5px;
  flex-wrap: wrap;
}

.n-transform-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  flex-wrap: wrap;
}

.option-button-container {
  display: flex;
  flex-direction: row;
}

.option-button {
  background: #c2c2c2;
  color: #111;
  border-width: 1px;
  padding: 5px 8px;
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  margin-bottom: 0px;
  box-sizing: border-box;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  border-color: rgb(156 163 175);
}

.option-button-each-line {
  background: #c2c2c2;
  color: #111;
  border-width: 1px;
  padding: 5px 8px;
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  margin-bottom: 0px;
  box-sizing: border-box;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  border-color: rgb(156 163 175);
}


.option-button-active {
  background-color: #111 !important;
  color: white;
}

.option-button:hover {
  background: #434343;
  color: white;
}

.option-button-n {
  width: 40px;
  padding-left: 5px;
  border-width: 1px;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  border-color: rgb(156 163 175);
  background-color: #a2a2a2;
  border-left: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

#file::file-selector-button {
  border: none;
  background: var(--btn-color);
  padding: 13px 25px;
  margin: 20px;
  color: var(--text-color-2);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  border-radius: 0.25rem;
}

#file::file-selector-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
